nav, main{
    max-width: 60rem;
    margin: auto;
}

/*Navigation stuff goes here*/

Nav{
button{display:none;}
ul, ul.open{
    margin-left: 2vw;
    display:flex;
    border: none;
    li{
        border:none;
    }

} //end ul


} //end nav

.cardWrapper {
    grid-template-columns: 1fr 1fr 1fr;
}